<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<!--

		<bean id="PLabService"
		class="se.sics.kompics.wan.plab.PLabServiceImpl" scope="prototype">
		<property name="PLabHostDao" ref="PLabHostDao" /> </bean> <bean
		id="PLabService" parent="txnProxyTemplate"> <property name="target">
		<bean class="se.sics.kompics.plab.PLabServiceImpl" scope="prototype">
		<property name="PLabHostDao" ref="PLabHostDao" /> </bean> </property>
		</bean>
	-->

	<bean id="PLabHostDao" class="se.sics.kompics.wan.plab.PLabHostDaoImpl"
		scope="prototype">
		<!-- <constructor-arg ref="sessionFactory" />  -->
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


	<bean id="PLabServiceTarget" class="se.sics.kompics.wan.plab.PLabServiceImpl"
		scope="prototype">
		<property name="PLabHostDao" ref="PLabHostDao" />
	</bean>


	<bean
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />


	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!--  abstract="true" -->
	<bean id="PLabService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref local="PLabServiceTarget" />
		</property>

		<property name="transactionAttributes">
			<props>
				<!--<prop key="*">PROPAGATION_REQUIRED</prop>  -->
				<prop key="load*">
					PROPAGATION_REQUIRED,readOnly,-OrderException
      </prop>
				<prop key="save*">
					PROPAGATION_REQUIRED,-OrderException
      </prop>

			</props>
		</property>
	</bean>

	<!--

		<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"
		scope="singleton"> <property name="configLocation"
		value="classpath:hibernate.cfg.xml" /> </bean>
	-->




		<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"> <value>com.mysql.jdbc.Driver</value>
		</property> <property name="url">
		<value>jdbc:mysql://localhost/hibernate</value> </property> <property
		name="username"> <value>root</value> </property> <property
		name="password"> <value></value> </property> </bean>

	<!--
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>org.hsqldb.jdbcDriver</value>
		</property>
		<property name="url">
			<value>jdbc:hsqldb:mem:hibernate</value>
		</property>
		<property name="username">
			<value>sa</value>
		</property>
		<property name="password">
			<value></value>
		</property>
	</bean>

	-->



	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">

		<property name="dataSource">
			<ref bean="dataSource" />
		</property>

		<property name="hibernateProperties">

			<props>
				<prop key="hibernate.connection.pool_size">2</prop>
				<prop key="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory
				</prop>
				<prop key="hibernate.current_session_context_class">thread</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.max_fetch_depth">3</prop>
					<prop
					key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>

				<!--
				<prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
					<prop key="hibernate.driverClassName">org.hsqldb.jdbcDriver</prop>
					<prop key="hibernate.url">jdbc:hsqldb:mem:hibernate</prop> <prop
					key="hibernate.username">sa</prop> <prop
					key="hibernate.password"></prop>
				-->
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>se.sics.kompics.wan.plab.PLabSite</value>
				<value>se.sics.kompics.wan.plab.PLabHost</value>
				<value>se.sics.kompics.wan.plab.PLabStore</value>
			</list>
		</property>

	</bean>

</beans>
